$white: #FFFFFF;
$primary: #eb7290;
$primaryText: #F3588B;
$error: #FF4719;
$errorText: #FF1919;
$success: #00af57;
$warning: #e9a600;
$alert: #c5006a;

.squareCorner{
  border-radius: 0!important;
}
.smallCorner{
  border-radius: 4px!important;
}
.filletCorner{
  border-radius: 8px!important;
}
.largeCorner{
  border-radius: 25px!important;
}
.fullCorner{
  border-radius: 1000px!important;
}
.roundCorner{
  padding: 16px!important;
  border-radius: 50%!important;
}
.lunaModal {
  display: flex;
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  .modalMask{
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .modalMask.darkMask{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modalMask.lightMask{
    background-color: rgba(255, 255, 255, 0.5);
  }
  .modalContainer {
    position: relative;
    padding-bottom: 16px;
    z-index: 250;
    background-color: $white;
    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      border-bottom: 1px solid #FEE7F4;
      background-color: $white;
      position: relative;
      margin-bottom: 32px;
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-size: 22px;
          display: flex;
          align-items: center;
          i,img{
            margin-right: 8px;
          }
        }
      }
      p {
        font-size: 22px;
        display: flex;
        align-items: center;
        i,img{
          margin-right: 8px;
        }
      }
      >i{
        cursor: pointer;
        position: absolute;
        right: 16px;
      }
    }

    .modalBody {
      padding: 0 16px;
      p {
        line-height: 24px;
      }
    }

    .modalFooter {
      padding-top: 32px;
      display: flex;
      justify-content: space-around;
      overflow: visible;
      width: 60%;
      margin: 0 auto;
      button {
        padding: 5px 25px;
        border-radius: 20px;
      }
      >div{
        overflow: visible;
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
          padding: 5px 25px;
          border-radius: 20px;
        }
      }
    }
  }
  .modalContainer.darkShadow{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
  .modalContainer.lightShadow{
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.3);
  }
  .modalContainer.errorModal{
    .modalHeader{
      background-color: $error;
      color: $white;
      p{
        color: $white!important;
      }
    }
  }
  .modalContainer.successModal{
    .modalHeader{
      background-color: $success;
      color: $white;
      p{
        color: $white!important;
      }
    }
  }
  .modalContainer.warningModal{
    .modalHeader{
      background-color: $warning;
      color: $white;
      p{
        color: $white!important;
      }
    }
  }
  .modalContainer.alertModal{
    .modalHeader{
      background-color: $alert;
      color: $white;
      p{
        color: $white!important;
      }
    }
  }
  .modalContainer.primaryModal{
    .modalHeader{
      background-color: $primary;
      color: $white;
      p{
        color: $white!important;
      }
    }
  }
}
.lunaInput{
  transition: all 0.5s;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 0;
  padding: 0 12px;
  input{
    border: 0;
    outline: 0;
    width: auto;
    height: 100%;
    background: rgba(0,0,0,0);
  }
  i {
    cursor: pointer;
    overflow: visible;
  }
  .icon-cancel{
    font-size: 8px;
  }
  span{
    color: #3c3c3c;
    font-size: 8px;
  }
}
.lunaInput.ghostInput{
  background-color: rgba(0,0,0,0) !important;
}
.lunaButton{
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  background-color: $white;
  color: #4A4A4A;
  text-align: center;
  vertical-align: middle;
  padding: 8px 16px;
  border: 1px solid $white;
  position: relative;
  overflow: visible;
  i{
    overflow: visible;
  }
}
.lunaButton.darkShadow{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.lunaButton.lightShadow{
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.3);
}
.lunaButton.primaryButton{
  background-color: $primary;
  color: $white;
  border-color: $primary;
}
.lunaButton.errorButton{
  background-color: $error;
  color: $white;
  border-color: $error;
}
.lunaButton.successButton{
  background-color: $success;
  color: $white;
  border-color: $success;
}
.lunaButton.warningButton{
  background-color: $warning;
  color: $white;
  border-color: $warning;
}
.lunaButton.alertButton{
  background-color: $alert;
  color: $white;
  border-color: $alert;
}
.lunaButton.textButton{
  background-color: rgba(0,0,0,0)!important;
  border: 1px solid rgba(0,0,0,0)!important;
}
.lunaButton.ghostButton{
  background-color: rgba(0,0,0,0)!important;
}
.lunaButton.ghostButton.primaryButton{
  color: $primary!important;
}
.lunaButton.ghostButton.errorButton{
  color: $error!important;
}
.lunaButton.ghostButton.successButton{
  color: $success!important;
}
.lunaButton.ghostButton.warningButton{
  color: $warning!important;
}
.lunaButton.ghostButton.alertButton{
  color: $alert!important;
}
.lunaButton:hover{
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.lunaButton{
  .lunaBadge {
    right: 0;
    top: 0;
  }
}
.lunaButton.filletCorner{
  .lunaBadge {
    right: 1px;
    top: 1px;
  }
}
.lunaButton.largeCorner{
  .lunaBadge {
    right: 4px;
    top: 4px;
  }
}
.lunaButton.roundCorner{
  .lunaBadge {
    right: 8%;
    top: 35%;
  }
}
.pre{
  margin-right: 6px;
}
.suffix{
  margin-left: 6px;
}
.lunaBadge{
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: $error;
  position: absolute;
  right: -4px;
  top: -4px;
  border: 1px solid #FFFFFF;
}
.lunaBadge.errorBadge{
  background-color: $error;
}
.lunaBadge.successBadge{
  background-color: $success;
}
.lunaBadge.alertBadge{
  background-color: $alert;
}
.lunaBadge.warningBadge{
  background-color: $warning;
}
.lunaRow{
  overflow: auto;
  display: flex;
  >.lunaCol{
    border-left: 0!important;
  }
  >.lunaCol:last-of-type{
    border-right: 0!important;
  }
}
.zIndexHide{
  z-index: -2!important;
}
