$PrimaryText: #f3f3f3;
$SecondaryText: #cccccc;
$Ex-secondaryText: #b4b4b4;
$NormalBackground: #010101;
$DividerDarkColor: #252525;
$LightDark: #3f3f3f;
$MaskOpacity: transparentize(#FFFFFF, 0.5);
$Shadow: 0 3px 3px transparentize(#FFFFFF, 0.5);
$AroundShadow: 0 0 5px transparentize(#FFFFFF, 0.7);
$HoverShadow: 0 2px 5px transparentize(#FFFFFF, 0.6);
$SideShadow: 4px 0 8px 0 transparentize(#FFFFFF, 0.35);
//$deg: 0,
@mixin PrimaryGradients($deg) {
  background: linear-gradient(#{$deg}deg, #835868, #eb7290);
}
@mixin WarningGradients($deg) {
  background: linear-gradient(#{$deg}deg, #978b67, #fecb37);
}
@mixin SuccessGradients($deg) {
  background: linear-gradient(#{$deg}deg, #3c835e, #10d56e);
}
@mixin AlertGradients($deg) {
  background: linear-gradient(#{$deg}deg, #4e3781, #7636ff);
}
@mixin ErrorGradients($deg) {
  background: linear-gradient(#{$deg}deg, #744542, #ff483d);
}
@mixin ActiveBarBackgroundColor{
  background: linear-gradient(135deg, #835868 0%, #eb7290 100%);
}
