.maskAnimation-enter-active, .maskAnimation-leave-active {
  transition: opacity 0.5s;
}
.maskAnimation-enter, .maskAnimation-leave-to {
  opacity: 0;
}
.maskAnimation-leave,.maskAnimation-enter-to{
  opacity: 1;
}
.modalAnimation-enter-active,.modalAnimation-leave-active{
  transition: all 0.3s;
}
.modalAnimation-leave,.modalAnimation-enter-to{
  opacity: 1;
  top: 0;
}
.modalAnimation-enter, .modalAnimation-leave-to {
  opacity: 0;
  top: -24px;
}

.showAlert{
  animation: 0.5s ease-in showAlert forwards;
  @keyframes showAlert {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
.hideAlert{
  animation: 0.5s ease-in hideAlert forwards;
  @keyframes hideAlert {
    0% {
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
}
.showModal{
  animation: 0.25s ease-in showModal forwards;
  @keyframes showModal {
    0%{
      opacity: 0;
      top: 24px;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
      top: 0;
    }
  }
}
.hideModal{
  animation: 0.25s ease-in hideModal forwards;
  @keyframes hideModal {
    0%{
      opacity: 1;
      top: 0;
    }
    100%{
      opacity: 0;
      top: -24px;
    }
  }
}
.leftMove {
  animation: leftMove 0.5s ease-out forwards;

  @keyframes leftMove {
    0% {
      background-position-x: 110px;
    }

    40% {
      background-position-x: 20px;
    }

    100% {
      background-position-x: 0;
    }
  }

  //适配iPhoneX&XS MAX的按钮动画
  @media screen and (max-device-width: 375px) {
    @keyframes leftMove {
      0% {
        background-position-x: 100px;
      }

      40% {
        background-position-x: 15px;
      }

      100% {
        background-position-x: 0;
      }
    }
  }
}
.rightMove {
  animation: rightMove 0.5s ease-out forwards;

  @keyframes rightMove {
    0% {
      background-position-x: 110px;
    }

    40% {
      background-position-x: 20px;
    }

    100% {
      background-position-x: 0;
    }
  }

  //适配iPhoneX&XS MAX的按钮动画
  @media screen and (max-device-width: 375px) {
    @keyframes leftMove {
      0% {
        background-position-x: 100px;
      }

      40% {
        background-position-x: 15px;
      }

      100% {
        background-position-x: 0;
      }
    }
  }
}
.langSlideUp{
  animation: 0.3s ease-in langSlideUp forwards;
  @keyframes langSlideUp {
    0%{
      height: 75px;
    }
    100%{
      height: 0;
    }
  }
}
.langSlideDown{
  animation: 0.3s ease-in langSlideDown forwards;
  @keyframes langSlideDown {
    0%{
      height: 0;
    }
    100%{
      height: 75px;
    }
  }
}
