//元素遮盖范围规范如下
//通用元素适用默认z-index
//背景层,z-index:-1
//header＆footer,z-index:100
//浮动元素&浮动按钮,z-index:150,
//遮罩层,z-index:200
//弹窗层,z-index:250
$white: #FFFFFF;
$primary: #eb7290;
$primaryText: #F3588B;
$error: #FF4719;
$errorText: #FF1919;
$success: #00af57;
$warning: #e9a600;
$alert: #c5006a;

@import "./LunaUI/LunaUI.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
}

div,
a,
button,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
main,
p,
section,
span {
  font-family: Microsoft YaHei UI Light, Microsoft YaHei Light, WenQuanYi Micro Hei, PingFang SC, San Francisco, Helvetica, Helvetica Neue, sans-serif;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

input {
  outline: 0;
}

ul li {
  list-style: none;
}

.hide {
  display: none !important;
}

.smFont{
  font-size: 12px;
}
.defaultTextColor{
  color: #4A4A4A;
}
.primaryButton {
  background-color: $primary;
  color: $white;
  -webkit-box-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);
  box-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);
}
.errorButton {
  background-color: $error;
  color: $white;
  -webkit-box-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);
  box-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);
}
.normalButton{
  background-color: $white;
  color: #4a4a4a;
  -webkit-box-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);
  box-shadow: 0 2px 5px rgba(33, 33, 33, 0.3);
}

.errorText {
  color: $errorText;
}
.primaryText{
  color: $primaryText;
}

.desc {
  font-size: 12px;
}

a {
  text-decoration: none;
}

//@font-face {
//  font-family: Cute;
//  src: url(../fonts/ZnikomitNo24.otf)
//}
//
//@font-face {
//  font-family: Curve;
//  src: url(./fonts/Horatio-D-Light-2.ttf)
//}
//
//@font-face {
//  font-family: Radiu;
//  src: url(../fonts/Amira-Light-2.ttf)
//}
//
//@font-face {
//  font-family: Gorgeous;
//  src: url(../fonts/Starway-2.otf)
//}
//
//@font-face {
//  font-family: Gorgeous_light;
//  src: url(../fonts/Starway-Light-4.otf)
//}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.bcImage16 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    height: 100%;
  }
}

.bcImage177 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.bcImage0 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url('../../../public/bc1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  img {
    display: none;
  }
}

aside::-webkit-scrollbar,
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar,
div::-webkit-scrollbar,
ul::-webkit-scrollbar,
.swiper-slide::-webkit-scrollbar,
table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: hsla(0, 0%, 100%, .9);
}

aside::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
.swiper-slide::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 5rem;
}

//手机端与pad端展示footer,PC端隐藏
footer {
  display: none
}

@media screen and (max-width: 420px) {
  footer {
    display: block;
    width: 100%;
    height: 60px;
    background: radial-gradient(75px at top, transparent 50%, rgb(235, 114, 144) 51%);
    background-position-y: -10px;
    position: fixed;
    bottom: -10px;
    z-index: 100;

    .figGroup {
      display: flex;
      align-items: center;

      a {
        width: 25%
      }
    }
  }
}

.fluidBtn {
  background: $primary;
  color: $white;
  width: 60px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  line-height: 60px;
  border-radius: 100px;
  position: fixed;
  bottom: 30px;
  left: calc(50% - 30px);
  -webkit-box-shadow: 0 2px 10px rgba(33, 33, 33, .5);
  box-shadow: 0 2px 10px rgba(33, 33, 33, .5);
  border: 0;
}

header {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  background-color: rgba(243, 88, 139, 0.55);
  color: $white;
  transition: all 0.5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  position: relative;
  z-index: 100;
  overflow: visible;

  .userArea {
    position: absolute;
    left: 32px;
    top: 9px;
    display: flex;
    align-items: center;

    .userIcon {
      img {
        width: 48px;
        height: 48px;
        border-radius: 44px;
      }
    }

    .information {
      margin-left: 8px;

      .userInfo {
        display: flex;

        .userName {
          font-size: 18px;
        }

        .VIPer {
          span {
            font-size: 12px;
            margin-left: 4px;
          }
        }
      }

      .netWorkStatus {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i {
          position: relative;
          top: -1px;
          font-size: 16px;
          width: 16px;
          height: 16px;
          border-radius: 16px;
          background-color: rgba(255, 255, 255, 0.2);
          animation: twinkle 2s ease-in-out infinite;

          @keyframes twinkle {
            0% {
              background-color: rgba(255, 255, 255, 0.2);
            }

            75% {
              background-color: rgba(255, 255, 255, 0);
            }

            100% {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
        }

        img {
          width: 12px;
          height: 12px;
        }

        span {
          font-size: 12px;
          margin-left: 2px;
        }
      }
    }
  }

  .title {
    display: flex;
    align-items: baseline;
    position: relative;
    overflow: visible;

    h2 {
      font-size: 32px;
      height: 66px;
      line-height: 66px;
    }
  }

  .guide {
    position: absolute;
    right: 32px;
    top: 0;
    height: 66px;
    display: flex;
    align-items: center;
    overflow: visible;

    >.btnGroup {
      color: $primaryText;
      background-color: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      display: flex;
      border-radius: 32px;
      padding: 4px 12px;
      margin-right: 16px;

      >div {
        width: 26px;
        height: 26px;
        position: relative;
        cursor: pointer;
        overflow: visible;

        img {
          width: 100%;
          height: 100%;
          border-radius: 26px;
          border: 1px solid $primaryText;
        }

        .languageBlackHover {
          position: absolute;
          top: 1.5px;
          left: 1.5px;
          width: 25px;
          height: 25px;
          border-radius: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.5s;
        }

        .languageBlackHover:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      >div:last-of-type {
        padding-left: 8px;

        .languageBlackHover {
          margin-left: 8px;
        }
      }

      >div.languageActive {
        .languageBlackHover {
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }
    a{
      overflow: visible;
    }
  }
}

.aboutUs {
  .about {
    max-width: 1366px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 22px 0;
  }

  h1 {
    line-height: 48px;
    font-size: 22px;
    margin-top: 24px;
  }

  p {
    line-height: 36px;
  }

  .cardGroup {
    display: flex;
    justify-content: space-around;

    figure {
      width: 200px;
      border: 2px solid $white;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 20px 18px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
      }

      figcaption:first-of-type {
        font-size: 22px;
        font-weight: 600;
      }

      figcaption:last-of-type {
        font-size: 14px;
      }
    }
  }

  .cardGroup:last-of-type {
    figcaption:last-of-type {
      text-align: left;
      margin-top: 8px;
    }
  }
}

.home {

  .inputArea {
    margin: 32px auto 0;
    height: 44px;
    line-height: 44px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    width: calc(100% - 132px);
    max-width: 1384px;
    border-radius: 44px;
    align-items: center;
    padding: 0 8px;
    transition: all 0.5s;

    input {
      margin: 0 8px;
      width: calc(100% - 64px);
      height: 44px;
      line-height: 44px;
      font-size: 24px;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    .lunaButton {
      i {
        color: $white;
        font-size: 16px;
      }
    }

    button:hover {
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);

      i {
        color: #FF91AC;
      }
    }
  }

  .inputArea:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
  }

  .inputAreaActive {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 22px 22px 0 0;
  }

  .searchAssociation {
    width: calc(100% - 116px);
    max-width: 1384px;
    margin: 0 auto;
    height: auto;
    min-height: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 22px 22px;

    li {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      background-color: rgba(0,0,0,0);
      cursor: pointer;
      transition: all 0.25s;
      border: 1px solid rgba(0, 0, 0, 0);
    }

    li:hover {
      background-color: $primary;
      color: $white;
      border: 1px solid $white;
    }

    li:last-of-type {
      border-radius: 0 0 22px 22px;
    }
  }

  .swiper-container {
    position: relative;
    overflow: visible;

    .swiper-wrapper {
      overflow: visible;
      position: relative;
    }
  }

  .swiper-slide {
    overflow: auto;
    height: calc(100vh - 244px);
    padding-top: 36px;
  }
  #navigation {
    position: relative;
    overflow: visible;
    height: 44px;
    width: 280px;
    top: 0;
    left: 0;
    margin: 32px auto 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 44px;

    .swiper-button-prev,
    .swiper-button-next {
      width: 50%;
      max-width: 600px;
      background-image: none;
      height: 44px;
      line-height: 44px;
      transition: all 0.3s;
      outline: 0;
      background-color: $white;
      color: $primaryText;
      left: 0;
      right: 0;
      position: relative;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 1;
      cursor: auto;
      pointer-events: none;
      color: $white;
      background-color: $primary;
    }
    .swiper-button-prev:hover,
    .swiper-button-next:hover{
      background-color: lightpink;
    }

    .swiper-button-prev {
      border-top-left-radius: 44px;
      border-bottom-left-radius: 44px;
    }

    .swiper-button-next {
      border-top-right-radius: 44px;
      border-bottom-right-radius: 44px;
    }
  }

  .todoList {
    width: calc(100% - 132px);
    max-width: 1384px;
    padding: 12px 8px 32px;
    min-height: 0;
    overflow: visible;
    margin: 0 auto 0;

    li {
      width: calc(100% - 44px);
      background-color: rgba(243, 88, 139, 0.35);
      margin-top: 16px;
      height: 44px;
      line-height: 44px;
      border-radius: 44px;
      transition: all 0.5s;
      cursor: pointer;
      color: $white;
      text-align: left;
      padding: 0 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: visible;

      span {
        margin-right: 16px;
        transition: all 0.5s;
      }

      .dragBtn {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background-color: $white;
        position: relative;
        left: 16px;
        transition: all 0.5s;
        overflow: visible;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

        .dragMenu {
          width: 0;
          height: 0;
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0);
          position: absolute;
          z-index: 200;
          bottom: 18px;
          right: 18px;
          border: 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
          transform: rotate(360deg);
          transition: all 0.5s;

          >.iconfont.icon-cancel {
            display: none;
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 30px);
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: $white;
            color: $primaryText;
            transition: all 0.35s;
            border-radius: 40px;
          }

          >.iconfont.icon-cancel:hover {
            background-color: $primary;
            color: $white;
          }

          >div {
            display: none;
            position: absolute;
            overflow: hidden;
            transform: rotate(45deg) skew(0deg);
            text-align: center;
            line-height: 80px;
            transition: all 0.35s;

            button {
              transition: all 0.35s;
              background-color: rgba(0, 0, 0, 0);
              border: 0;
              transform: rotate(-45deg) skew(0deg);

              i {
                font-size: 18px;
              }
            }
          }

          >div:first-of-type {
            left: 40px;
            top: -20px;

            button {
              color: $primaryText
            }
          }

          >div:nth-of-type(2) {
            left: -20px;
            top: 40px;

            button {
              color: $primaryText
            }
          }

          >div:nth-of-type(3) {
            left: 100px;
            top: 40px;

            button {
              color: $primaryText
            }
          }

          >div:last-of-type {
            left: 40px;
            top: 100px;

            button {
              color: $primaryText
            }
          }

          >div:hover {
            background-color: $primary;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

            button {
              color: $white
            }
          }
        }

        .dragMenuShow {
          width: 160px;
          height: 160px;
          border-radius: 160px;
          background-color: $white;
          position: absolute;
          z-index: 200;
          bottom: -64px;
          right: -64px;
          border: 2px solid $white;
          transform: rotate(0deg);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

          >.iconfont.icon-cancel {
            display: block;
          }

          >div {
            display: block;
            width: 80px;
            height: 80px;
          }
        }
      }

      .dragBtn:hover {
        background-color: rgba(255, 255, 255, 0.35);
      }
    }

    li:hover {
      background-color: rgba(243, 88, 139, 0.85);
    }
  }

  .todoList-shorter {
    height: calc(100vh - 574px);
  }

  .successText {
    color: #B1FFDA;
    text-decoration: line-through;
  }
}
